

#header {
    background: #2E849E;
    color: white;
    border-radius: 0;
}
.navbar {
    margin-bottom: 0;
}

#navigation {
    background: #faa;
}

#main-container {
    background: #afa;
}

#banner-panel {
    background: #aaf;
}

.container-full {
    margin 0 auto;
    width: 100%;
}
.row {
    margin: 0;
}

/*
@media (max-width: 800px) {
    #navigation {
        display: block;
        width: 100%;
        clear: both;
    }
}
    */


#footer {
    color: white;
    background: #222;
    height: 100px
}
